<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()"><% return "welcome" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
  from django.conf import settings
  from django.utils.translation import gettext as _
  from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="title">${_("Welcome")}</%block>
<%block name="bodyclass">not-signedin index view-howitworks</%block>

<%block name="content">
  <section class="howorks section1">
    <div class="content">
      <div class="welcome_log">
        <p>Bienvenido a <strong> Studio</strong></p>
      </div>
    </div>
    <div class="infor">
      <div class="content">
        <p>Studio te permite administrar tus cursos en línea, para que puedas enfocarte en enseñarlos a tus alumnos</p>
      </div>
    </div>
  </section>
  
  <section class="howorks section2">
    <div class="content d-flex">
      <div><img src="${static.url("images/descript_01.png")}" alt="${_('{studio_name} Helps You Keep Your Courses Organized').format(studio_name=settings.STUDIO_SHORT_NAME)}" /></div>
      <div class="caja">
        <h3>Manten tu curso organizado todo el tiempo</h3>
        <ul>
          <li>Organiza secciones y subsecciones.</li>
          <li>Cambia su estructura en cualquier momento.</li>
          <li>Trabaja por semanas o semestres.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="howorks section3">
    <div class="content d-flex">
      <div class="caja">
        <h3>Aprender es mucho más que clases simples</h3>
        <ul>
          <li>Desafia las destrezas de tus estudiantes con ejercicios prácticos.</li>
          <li>Aplica cambios en tiempo real en tu diseño.</li>
          <li>Diseña rutas de aprendizaje personalizadas.</li>
        </ul>
      </div>
      <div><img src="${static.url("images/descript_02.png")}" alt="${_('{studio_name} Aprender es mucho mas').format(studio_name=settings.STUDIO_SHORT_NAME)}" /></div>
    </div>
  </section>

  <section class="howorks section4">
    <div class="content d-flex">
      <div><img src="${static.url("images/descript_03.png")}" alt="${_('{studio_name} Agrega imagenes,videos,foros y mas').format(studio_name=settings.STUDIO_SHORT_NAME)}" /></div>
      <div class="caja">
        <h3>Agrega imágenes, videos, foros y muchas herramientas más</h3>
      </div>
    </div>
  </section>
</body>
</html>
</%block>