## mako
<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse
from datetime import datetime
from django.conf import settings
import pytz
from cms.djangoapps.contentstore.config.waffle import ENABLE_ACCESSIBILITY_POLICY_PAGE
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="wrapper-footer wrapper">
  
  <footer class="primary" role="contentinfo">
    <div class="row">
      <div class="col-sm">
        <ul class="list-unstyled">
          <li><b>COMPANÍA</b></li>
          <li><a href="./about">Acerca de Atenea</a></li>
          <li><a href="https://atenea.com.ec">Equipo</a></li>
          <li><a href="./contact">Contacto</a></li>
        </ul>
      </div>
      
      
      <div class="col-sm uamx_footer-middle">
        <ul class="list-unstyled">
          <li><b>PRODUCTOS</b></li>
          <li><a href="./">Ecosistema Digital</a></li>
          <li><a href="./">Sector Público</a></li>
        </ul>
      </div>

      <div class="col-sm uamx_footer-middle">
        <ul class="list-unstyled">
          <li><b>LEGAL</b></li>
          <li><a href="./tos">Términos de uso</a></li>
          <li><a href="./privacy">Política de privacidad</a></li>
          </a></li>
        </ul>
      </div>

      <div class="col-sm last-col">
        <div class="footer-about-openedx">
          <h5>
            <a href="https://app.atenea.digital/">
              <img src="${static.url('images/logo_foot_01.png')}" alt="Atenea" width="140">
            </a>
          </h5>
          
        </div>
        <p>Aprende en nuestras redes:</p>
        <div class="social-wrapper">
          
          <div class="social">
            <a href="https://www.facebook.com/" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a>
            <a href="https://twitter.com/" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
            <a href="https://www.youtube.com/" target="_blank"><span class="fa fa-youtube" aria-hidden="true"></span></a>
            <a href="https://www.instagram.com/" target="_blank"><span class="fa fa-instagram" aria-hidden="true"></span></a>
            
          </div>
        </div>
      </div>
    </div>
    <p class="copyright small">© 2022 <a href="https://app.atenea.digital/">Atenea Lifelong Learning</a></p>
  </footer>
</div>