// studio - utilities - variables
// ====================

// Table of Contents
// * +Paths
// * +Grid
// * +Fonts
// * +Colors - Utility
// * +Colors - Primary
// * +Colors - Shadow
// * +Color - Application
// * +Timing
// * +Archetype UI
// * +Specific UI
// * +Deprecated

$baseline: 20px;

// +Paths
// ====================
$static-path: '..' !default;

// +Grid
// ====================
$gw-column: ($baseline*3);
$gw-gutter: $baseline;
$fg-column: $gw-column;
$fg-gutter: $gw-gutter;
$fg-max-columns: 12;
$fg-max-width: 1280px;
$fg-min-width: 900px;

// +Fonts
// ====================
$f-sans-serif: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
$f-monospace: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;

// +Colors - Utility
// ====================
$transparent: rgba(0, 0, 0, 0) !default; // used when color value is needed for UI width/transitions but element is transparent

// +Colors - UXPL new pattern library colors
// ====================
$uxpl-blue-hover-active: rgb(128, 213, 251) !default; // wcag2a compliant
$uxpl-light-blue-base: rgb(242, 248, 251) !default;

$uxpl-green-base: rgb(0, 129, 0) !default; // wcag2a compliant
$uxpl-green-hover-active: rgb(0, 155, 0) !default; // wcag2a compliant
$uxpl-green-dark-hover-active: rgb(0, 88, 0) !default;

$uxpl-pink-base: rgb(194, 56, 125) !default; // wcag2a compliant
$uxpl-pink-hover-active: lighten($uxpl-pink-base, 7%) !default; // wcag2a compliant

$uxpl-grayscale-x-back: rgb(245, 245, 245) !default; // UXPL grayscale, x-back

$uxpl-primary-accent: rgb(14, 166, 236) !default;

// +Colors - Primary
// ====================
$black: rgb(0, 0, 0) !default;
$black-t0: rgba($black, 0.125) !default;
$black-t1: rgba($black, 0.25) !default;
$black-t2: rgba($black, 0.5) !default;
$black-t3: rgba($black, 0.75) !default;
$black-t4: rgba($black, 0.85) !default;

$white: rgb(255, 255, 255) !default;
$white-t0: rgba($white, 0.125) !default;
$white-t1: rgba($white, 0.25) !default;
$white-t2: rgba($white, 0.5) !default;
$white-t3: rgba($white, 0.75) !default;

$gray: rgb(127, 127, 127) !default;
$gray-l1: tint($gray, 20%) !default;
$gray-l2: tint($gray, 40%) !default;
$gray-l3: tint($gray, 60%) !default;
$gray-l4: tint($gray, 80%) !default;
$gray-l5: tint($gray, 90%) !default;
$gray-l6: tint($gray, 95%) !default;
$gray-l7: tint($gray, 99%) !default;
$gray-d1: shade($gray, 20%) !default;
$gray-d2: shade($gray, 40%) !default;
$gray-d3: shade($gray, 60%) !default;
$gray-d4: shade($gray, 80%) !default;
$gray-u1: #ecf0f1;


// These define button styles similar to LMS
// The goal here is consistency (until we can overhaul all of this...)
$btn-lms-border: #d2c9c9 !default;
$btn-lms-background: #f1f1f1 !default;
$btn-lms-gradient: #d9d1d1 !default;
$btn-lms-shadow: #fcfbfb !default;
$btn-lms-shadow-hover: #fefefe !default;
$btn-lms-background-hover: #e4e4e4 !default;
$btn-lms-gradient-hover: #d1c9c9 !default;
$btn-lms-shadow-active: #cac2c2 !default;

$blue: rgb(63, 169, 245) !default;
$blue-l1: tint($blue, 20%) !default;
$blue-l2: tint($blue, 40%) !default;
$blue-l3: tint($blue, 60%) !default;
$blue-l4: tint($blue, 80%) !default;
$blue-l5: tint($blue, 90%) !default;
$blue-d1: shade($blue, 20%) !default;
$blue-d2: shade($blue, 40%) !default;
$blue-d3: shade($blue, 60%) !default;
$blue-d4: shade($blue, 80%) !default;
$blue-s1: saturate($blue, 15%) !default;
$blue-s2: saturate($blue, 30%) !default;
$blue-s3: saturate($blue, 45%) !default;
$blue-u1: desaturate($blue, 15%) !default;
$blue-u2: desaturate($blue, 30%) !default;
$blue-u3: desaturate($blue, 45%) !default;
$blue-t0: rgba($blue, 0.125) !default;
$blue-t1: rgba($blue, 0.25) !default;
$blue-t2: rgba($blue, 0.5) !default;
$blue-t3: rgba($blue, 0.75) !default;

$pink: rgb(183, 37, 103) !default; // #b72567;
$pink-l1: tint($pink, 20%) !default;
$pink-l2: tint($pink, 40%) !default;
$pink-l3: tint($pink, 60%) !default;
$pink-l4: tint($pink, 80%) !default;
$pink-l5: tint($pink, 90%) !default;
$pink-d1: shade($pink, 20%) !default;
$pink-d2: shade($pink, 40%) !default;
$pink-d3: shade($pink, 60%) !default;
$pink-d4: shade($pink, 80%) !default;
$pink-s1: saturate($pink, 15%) !default;
$pink-s2: saturate($pink, 30%) !default;
$pink-s3: saturate($pink, 45%) !default;
$pink-u1: desaturate($pink, 15%) !default;
$pink-u2: desaturate($pink, 30%) !default;
$pink-u3: desaturate($pink, 45%) !default;

$red: rgb(178, 6, 16) !default;  // #b20610;
$red-l1: tint($red, 20%) !default;
$red-l2: tint($red, 40%) !default;
$red-l3: tint($red, 60%) !default;
$red-l4: tint($red, 80%) !default;
$red-l5: tint($red, 90%) !default;
$red-d1: shade($red, 20%) !default;
$red-d2: shade($red, 40%) !default;
$red-d3: shade($red, 60%) !default;
$red-d4: shade($red, 80%) !default;
$red-s1: saturate($red, 15%) !default;
$red-s2: saturate($red, 30%) !default;
$red-s3: saturate($red, 45%) !default;
$red-u1: desaturate($red, 15%) !default;
$red-u2: desaturate($red, 30%) !default;
$red-u3: desaturate($red, 45%) !default;

$green: rgb(37, 184, 90) !default; // #25b85a
$green-l1: tint($green, 20%) !default;
$green-l2: tint($green, 40%) !default;
$green-l3: tint($green, 60%) !default;
$green-l4: tint($green, 80%) !default;
$green-l5: tint($green, 90%) !default;
$green-d1: shade($green, 20%) !default;
$green-d2: shade($green, 40%) !default;
$green-d3: shade($green, 60%) !default;
$green-d4: shade($green, 80%) !default;
$green-s1: saturate($green, 15%) !default;
$green-s2: saturate($green, 30%) !default;
$green-s3: saturate($green, 45%) !default;
$green-u1: desaturate($green, 15%) !default;
$green-u2: desaturate($green, 30%) !default;
$green-u3: desaturate($green, 45%) !default;

$yellow: rgb(237, 189, 60) !default;
$yellow-l1: tint($yellow, 20%) !default;
$yellow-l2: tint($yellow, 40%) !default;
$yellow-l3: tint($yellow, 60%) !default;
$yellow-l4: tint($yellow, 80%) !default;
$yellow-l5: tint($yellow, 90%) !default;
$yellow-d1: shade($yellow, 20%) !default;
$yellow-d2: shade($yellow, 40%) !default;
$yellow-d3: shade($yellow, 60%) !default;
$yellow-d4: shade($yellow, 80%) !default;
$yellow-s1: saturate($yellow, 15%) !default;
$yellow-s2: saturate($yellow, 30%) !default;
$yellow-s3: saturate($yellow, 45%) !default;
$yellow-u1: desaturate($yellow, 15%) !default;
$yellow-u2: desaturate($yellow, 30%) !default;
$yellow-u3: desaturate($yellow, 45%) !default;

$orange: rgb(237, 189, 60) !default;
$orange-l1: tint($orange, 20%) !default;
$orange-l2: tint($orange, 40%) !default;
$orange-l3: tint($orange, 60%) !default;
$orange-l4: tint($orange, 80%) !default;
$orange-l5: tint($orange, 90%) !default;
$orange-d1: shade($orange, 20%) !default;
$orange-d2: shade($orange, 40%) !default;
$orange-d3: shade($orange, 60%) !default;
$orange-d4: shade($orange, 80%) !default;
$orange-s1: saturate($orange, 15%) !default;
$orange-s2: saturate($orange, 30%) !default;
$orange-s3: saturate($orange, 45%) !default;
$orange-u1: desaturate($orange, 15%) !default;
$orange-u2: desaturate($orange, 30%) !default;
$orange-u3: desaturate($orange, 45%) !default;

// +Colors - Shadows
// ====================
$shadow: rgba($black, 0.2) !default;
$shadow-l1: rgba($black, 0.1) !default;
$shadow-l2: rgba($black, 0.05) !default;
$shadow-d1: rgba($black, 0.4) !default;
$shadow-d2: rgba($black, 0.6) !default;

// +Colors - Application
// ====================
$color-draft: $gray-l3 !default;
$color-live: $blue !default;
$color-ready: $green !default;
$color-warning: $orange-l2 !default;
$color-error: $red-l2 !default;
$color-staff-only: $black !default;
$color-gated: $black !default;

$color-heading-base: $gray-d2 !default;
$color-copy-base: $gray-d2 !default;
$color-copy-emphasized: $gray-d2 !default;

// +Timing
// ====================
// used for animation/transition mixin syncing
$tmg-s3: 3s;
$tmg-s2: 2s;
$tmg-s1: 1s;
$tmg-avg: 0.75s;
$tmg-f1: 0.5s;
$tmg-f2: 0.25s;
$tmg-f3: 0.125s;

// +Archetype UI
// ====================
$ui-action-primary-color: $blue !default;
$ui-action-primary-color-focus: $blue-s1 !default;

$ui-link-color: $blue !default;
$ui-link-color-focus: $blue-s1 !default;
$link-color: $ui-link-color;

// +Specific UI
// ====================
$ui-notification-height: ($baseline*10);
$ui-update-color: $blue-l4 !default;

// +Deprecated
// ====================
// do not use, future clean up will use updated styles
$lighter-base-font-color: rgb(100, 100, 100) !default;
$offBlack: #3c3c3c !default;
$green: #108614 !default;
$lightGrey: #edf1f5 !default;
$mediumGrey: #b0b6c2 !default;
$darkGrey: #8891a1 !default;
$extraDarkGrey: #3d4043 !default;
$paleYellow: #fffcf1 !default;
$yellow: rgb(255, 254, 223) !default;
$green: rgb(37, 184, 90) !default;
$brightGreen: rgb(22, 202, 87) !default;
$disabledGreen: rgb(124, 206, 153) !default;
$darkGreen: rgb(52, 133, 76) !default;
$lightBluishGrey: rgb(197, 207, 223) !default;
$lightBluishGrey2: rgb(213, 220, 228) !default;
$error-red: rgb(253, 87, 87) !default;


//carryover from LMS for xmodules
$sidebar-color: rgb(246, 246, 246) !default;

// type
$body-line-height: golden-ratio(0.875em, 1);

// carried over from LMS for xmodules
$action-primary-active-bg: rgb(63, 169, 245) !default; // $m-blue
$very-light-text: $white !default;

$color-background-alternate: rgb(242, 248, 251) !default;

// ----------------------------
// #COLORS- Bootstrap-style
// ----------------------------

$state-success-text: $black !default;
$state-success-bg: #dff0d8 !default;
$state-success-border: darken($state-success-bg, 5%) !default;

$state-info-text: $black !default;
$state-info-bg: #d9edf7 !default;
$state-info-border: darken($state-info-bg, 7%) !default;

$state-warning-text: $black !default;
$state-warning-bg: #fcf8e3 !default;
$state-warning-border: darken($state-warning-bg, 5%) !default;

$state-danger-text: $black !default;
$state-danger-bg: #f2dede !default;
$state-danger-border: darken($state-danger-bg, 5%) !default;

$text-dark-black-blue: #2c3e50;

/***************ESTILOS PERSONALIZADOS*****************/

.info-course .course-link{
    font-weight: bold;
}

.howorks.section1{
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: white;
}

.howorks.section1 .welcome_log{
    background-image: url("../images/head_bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding: 70px 0 100px 0;
    color: #333;
    font-size: 3em;
}

.howorks.section1 .infor p{
    color: white !important;
    font-size: 2.4em;
}

.howorks.section1 .inst-name{
    margin-top: 25px;
    margin-bottom: 15px;
}

.howorks.section3 ul li,
.howorks.section3 h3{
    color: white !important;
}

.howorks.section1 h3,
.howorks.section2 h3,
.howorks.section3 h3,
.howorks.section4 h3{
    font-size: 2em;
    font-weight: bolder;
    margin: 35px 0;
    line-height: 1.2em;
    text-align: center;
}

.howorks.section1 .infor{
    background-color: #38D6FD;
    padding: 25px 0;
}

.howorks.section1 .infor p{
    font-size: 1em;
}

.howorks.section2,
.howorks.section3{
    padding: 50px 0;
}

.howorks.section2 ul li::before{
    content: "";
    width: 15px;
    height: 15px;
    background-color: #00ABF8;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.howorks.section3 ul li::before{
    content: "";
    width: 15px;
    height: 15px;
    background-color: #ACEAFE;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}


.howorks.section3{
    background-color: #00ABF8;
    color: white;
}

.howorks .d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.howorks .caja{
    padding: 70px;
}

.course-status #root.SFE .SFE-wrapper .col-5{
    padding-left: 5px;
}

.mast.has-actions .wrapper_nuevos{
    padding-top: 20px;
}

#root.SFE h3.font-weight-normal.font-extra-large,
#root.SFE div.font-large{
    color: white;
}

#root.SFE .table {
    border: 1px solid #3fa9f5 !important;
    margin-right: 20px;
}

#root.SFE .table td, #root.SFE .table th{
    border-top: 1px solid #3fa9f5  !important;
}

#root.SFE .table thead th {
    border-bottom: 1px solid #3fa9f5 !important;
}

#root.SFE .search-field {
    margin-top: 20px;
    margin-right: 20px;
}

#root.SFE .border.search-field{
    border:1px solid #3fa9f5 !important;
}

#root.SFE .btn-outline-primary{
    color: #3fa9f5 !important;
    border-color: #3fa9f5 !important;
}

#root.SFE .btn-outline-primary:hover {
    color: white !important;
    background-color: #3fa9f5 !important;
    border-color: #3fa9f5 !important;
}

.xblock.xblock-author_view.xblock-author_view-sequential.xmodule_display.xmodule_SequenceBlock.xblock-initialized{
    min-width: 430px;
}

.action.action-upload-image{
    border:none;
}

.new-component-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new-component-type .large-template-icon{
    height: 40px;
}

.large-library-icon{
    display: inline-block;
    width: 60px;
    background: url(../images/data.png) center no-repeat;
    background-size: contain;
}

.view-howitworks.not-signedin .wrapper-header {
    margin-bottom: 0;
    background-color: #303030;
}

.wrapper-header .wrapper-l, .wrapper-header .wrapper-r{
    background-color: transparent;
}

.not-signedin .wrapper-header .nav-pitch .action-signup, .view-util .wrapper-header .nav-pitch .action-signup,
.not-signedin .wrapper-header .nav-pitch .action-signin, .view-util .wrapper-header .nav-pitch .action-signin {
    background: #3fa9f5;
    border-color: #3fa9f5;
    color: #fff;
    transition: all 0.5s ease;
    padding: 5px 10px;
    border-radius: 4px;
}

.not-signedin .wrapper-header .nav-pitch .action-signup:hover,
.not-signedin .wrapper-header .nav-pitch .action-signup:focus,
.not-signedin .wrapper-header .nav-pitch .action-signup:active,
.view-util .wrapper-header .nav-pitch .action-signup:hover,
.view-util .wrapper-header .nav-pitch .action-signup:focus,
.view-util .wrapper-header .nav-pitch .action-signup:active {
    background: #80D5FB;
    border-color: #80D5FB;
}

.not-signedin .wrapper-header .nav-pitch .action-signin:hover,
.not-signedin .wrapper-header .nav-pitch .action-signin:focus,
.view-util .wrapper-header .nav-pitch .action-signin:hover,
.view-util .wrapper-header .nav-pitch .action-signin:focus {
    background: #80D5FB;
    border-color: #80D5FB;
}

.wrapper-header nav .nav-item a {
    color: white;
}

.wrapper-header nav .nav-item a:hover {
    color: #3fa9f5;
}

/* .nav-item.nav-not-signedin-help a, .nav-item.nav-account-help a {
    background: #3fa9f5;
    border-color: #3fa9f5;
    color: #fff;
    transition: all 0.5s ease;
    padding: 5px 10px;
    border-radius: 50%;
}

.nav-item.nav-not-signedin-help a:hover, .nav-item.nav-account-help a:hover {
    background: #80D5FB;
    border-color: #80D5FB;
} */

.wrapper-header nav .nav-item a:active,
.wrapper-header nav .nav-item a:focus{
    outline: none !important;
}

.wrapper-header nav .nav-item a img {
    width: 30px;
    display: flex;
}

.view-howitworks.not-signedin .wrapper-header {
    margin-bottom: 0;
    background-color: #303030;
}

.wrapper-footer{
    background: #285B83;
    background: -moz-linear-gradient(30deg, #285B83 50%, #2c628a 50%);
    background: -webkit-linear-gradient(30deg, #285B83 50%,#285B83 50%);
    background: linear-gradient(30deg, #285B83 50%,#2c628a 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#285B83', endColorstr='#2c628a',GradientType=1 );
}

.wrapper-footer footer .row {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 35px;
}

.wrapper-footer .copyright {
    color: white;
    margin-top: 50px;
    text-align: center;
}

.wrapper-footer footer b {
    color: white;
    margin-bottom: 6px;
    display: inline-block;
    font-size: 1.2em;
}

.wrapper-footer .last-col {
    border-left: solid white 1px;
    padding-left: 24px;
    text-align: left;
}

.wrapper-footer footer.primary a {
    color: white;
    font-size: 1.2em;
}

.wrapper-footer footer .social {
    display: flex;
}

.wrapper-footer footer .social a {
    color: #00acd7;
    background-color: white;
    border-radius: 5px;
    height: 44px;
    width: 44px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 9px;
    transition: all 0.5s ease;
}

.wrapper-footer footer .social a:hover {
    color: white;
    background-color: #00acd7;
}

.wrapper-footer footer.primary .footer-about-openedx a img {
    display: block;
    width: 120px;
    margin-left: 10px;
}

.wrapper-footer .last-col p {
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.wrapper-footer footer li>a {
    margin: 6px 3px;
    display: block;
}

.is-signedin .wrapper {
    background-color: #303030;
}

.wrapper-mast .mast.has-actions .nav-actions .button.new-button {
    background-color: #3fa9f5;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1em;
}

.wrapper-mast .mast.has-actions .nav-actions .button:hover {
    background-color: #80D5FB !important;
}

.view-dashboard #course-index-tabs{
    margin-bottom: 0;
    display: flex;
}

.view-dashboard #course-index-tabs li.active {
    background-color: #3fa9f5;
}

.view-dashboard #course-index-tabs li:first-of-type {
    border-top-left-radius: 4px;
}

.view-dashboard #course-index-tabs li {
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
    background-color: #8c8c8c;
}

.view-dashboard #course-index-tabs li a {
    color: white;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

.view-dashboard #course-index-tabs li:last-of-type {
    border-top-right-radius: 4px;
}

.wrapper-header nav>ol>.nav-item .title {
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.wrapper-header nav>ol>.nav-item .title:hover{
    color: #80D5FB;
}

.wrapper-header .nav-dd .nav-account-user .title:hover, .wrapper-header .nav-dd .nav-account-user .title:hover,
.wrapper-header .nav-dd .nav-account-user .title:hover, .wrapper-header .nav-dd .nav-account-user .title:active {
    background: #fff;
    color: #3fa9f5 !important;
}

.wrapper-header .nav-dd .nav-account-user .title:hover, .wrapper-header .nav-dd .nav-account-user .title:hover .fa-caret-down,
.wrapper-header .nav-dd .nav-account-user .title:hover, .wrapper-header .nav-dd .nav-account-user .title:active .fa-caret-down {
    color: #3fa9f5 !important;
}

.wrapper-header .nav-dd .title {
    padding: 5px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    text-align: center;
    font-size: 1.6rem;
    transition: 0.5s all ease;
}

.view-dashboard .content-supplementary ol li a, 
.view-dashboard .content-supplementary .new-course-button, 
.view-dashboard .content-supplementary .new-library-button {
    background-color: #3fa9f5;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    transition: 0.5s ease;
    font-weight: bold;
    font-size: 16px;
}

.view-dashboard .content-supplementary ol li a:hover, 
.view-dashboard .content-supplementary .new-course-button:hover, 
.view-dashboard .content-supplementary .new-library-button:hover {
    background-color: #80D5FB;
}

.view-dashboard .content-supplementary ol{
    margin-top: 40px;
    text-align: center;
}

.course-status #root.SFE .SFE-wrapper>.row>div {
    border-right: 1px solid #3fa9f5;
    margin-right: 15px;
}

.view-outline .course-status #root.SFE .SFE-wrapper {
    background-color: #4c4c4c;
}

.view-outline .course-status #root.SFE .SFE-wrapper .status-label{
    color: white;
}

#root.SFE .status-value,
#root.SFE .status-value .status-link {
    color: #3fa9f5 !important;
}

.wrapper-mast .mast.has-actions .nav-actions .button,
.view-outline .course-status .status-highlights-enabled-value.button{
    background: #3fa9f5 !important;
    border-color: #3fa9f5 !important;
    color: white !important;
}

.view-outline .course-status .status-highlights-enabled-value.button:hover{
    background: $uxpl-blue-hover-active !important;
}

.view-outline .highlights-button{
    color: #3fa9f5 !important;
}

.view-outline .number-highlights,
.view-group-configurations .content-primary .no-content .button{
    background-color: #3fa9f5 !important;
    border: none !important;
}


.view-outline .course-status .status-highlights-enabled-info{
    background: #3fa9f5 !important;
    color: white !important;
    padding: 3px 8px;
    margin-top: 2px;
    font-size: 0.7em;
    border-radius: 4px;
    font-weight: 600;
}

.view-outline .course-status .status-highlights-enabled-label{
    color: white !important;
}

.view-outline .course-status .status-highlights-enabled-info:hover {
    background: $uxpl-blue-hover-active !important;
    color: white;
}

.wrapper-mast .mast.has-actions .nav-actions .nav-item a {
    font-size: 1em !important;
}

.bit .external-help-button{
    background-color: #3fa9f5 !important;
    color: white !important;
}

.bit .external-help-button:hover,
.view-group-configurations .content-primary .no-content .button:hover{
    background-color: $uxpl-blue-hover-active !important;
}

.outline-complex .outline-subsection.is-live {
    border-left-color: #ed6c4d !important;
}

.view-outline .outline-complex .outline-section {
    padding: 15px 20px 15px 24px;
    border: 4px solid #3fa9f5;
}

.view-outline .outline-complex .outline-section .section-header-actions .actions-list .action-item .action-button:hover,
.view-outline .outline-complex .outline-subsection .subsection-header-actions .actions-list .action-item .action-button:hover{
    background-color: $uxpl-blue-hover-active !important;
    color: #f9f9f9 !important;
}

.outline-complex .outline-section .section-header-actions .actions-list .action-item .action-button,
.view-outline .outline-complex .outline-subsection .subsection-header-actions .actions-list .action-item .action-button{
    transition: all 0.125s linear 0s;
    display: block;
    border-radius: 3px;
    padding: 3px 10px;
    color: #3fa9f5 !important;
    font-size: 1.5em;
    border: none;
}

.introduction .copy{
    color: white;
}

.course-updates .post-actions .edit-button,
.course-updates .post-actions .delete-button,
.course-handouts .edit-button,
.view-import .action-choose-file,
.view-export .export-controls .action-export,
.add-xblock-component .new-component .new-component-type .add-xblock-component-button{
    background-color: #3fa9f5 !important;
    border: none !important;
    color: white;
    border-radius: 5px;
}

.course-updates .post-actions .edit-button:hover,
.course-updates .post-actions .delete-button:hover,
.course-handouts .edit-button:hover,
.view-import .action-choose-file:hover,
.add-xblock-component .new-component .new-component-type .add-xblock-component-button:hover{
    background-color: $uxpl-blue-hover-active !important;
}

.bit .nav-item a{
    color: #3fa9f5;
}

.view-checklists #root.SFE .SFE-wrapper{
    background-color: transparent;
}

.xmodule_display.xmodule_SequenceBlock .sequence-nav-button,
.xmodule_display.xmodule_SequenceBlock .sequence-nav ol li{
    background-color: #3fa9f5 !important;
    color: white !important;
    border: none !important;
}

.xmodule_display.xmodule_SequenceBlock .sequence-nav button:hover,
.xmodule_display.xmodule_SequenceBlock .sequence-nav ol li:hover button,
.xmodule_display.xmodule_SequenceBlock .sequence-nav button.active{
    border-bottom: 3px solid #80D5FB !important;
    background-color: #80D5FB !important;
}

.xmodule_display.xmodule_SequenceBlock .sequence-nav-button.button-previous {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border: none;
}

.xmodule_display.xmodule_SequenceBlock .sequence-nav-button.button-next {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border: none !important;
}

.xmodule_display.xmodule_SequenceBlock .sequence-nav{
    height: 40px !important;
    background-color: transparent;
}

.xmodule_display.xmodule_SequenceBlock .sequence-nav ol li button .icon,
.xmodule_display.xmodule_SequenceBlock .sequence-nav button:hover .icon{
    color: white !important;
}

.xmodule_display.xmodule_SequenceBlock .sequence-nav ol li button{
    height: 40px !important;
    color: white;
    border-bottom: 3px solid #3fa9f5 !important;
}