## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper-footer wrapper">
  
  <footer class="primary" role="contentinfo">
    <div class="row">
      <div class="col-sm">
        <ul class="list-unstyled">
          <li><b>COMPANÍA</b></li>
          <li><a href="./about">Acerca de Atenea</a></li>
          <li><a href="https://atenea.com.ec">Equipo</a></li>
          <li><a href="./contact">Contacto</a></li>
          <!-- <li><a href="https://atenea.com.ec">Atenea Ecuador</a></li> -->
        </ul>
      </div>
      
      
      <div class="col-sm uamx_footer-middle">
        <ul class="list-unstyled">
          <li><b>PRODUCTOS</b></li>
          <li><a href="./">Ecosistema Digital</a></li>
          <li><a href="./">Sector Público</a></li>
        </ul>
      </div>

      <div class="col-sm uamx_footer-middle">
        <ul class="list-unstyled">
          <li><b>LEGAL</b></li>
          <li><a href="./privacy">Política de privacidad</a></li>
          <li><a href="./tos">Términos del servicio</a></li>
        </ul>
      </div>

      <div class="col-sm last-col">
        <div class="footer-about-openedx">
          <h5>
            <a href="https://app.atenea.digital/">
              <img src="${static.url('images/logo_foot_01.png')}" alt="Atenea" width="140">
            </a>
          </h5>
        </div>
        <p>Aprende en nuestras redes:</p>
        <div class="social-wrapper">
          
          <div class="social">
            <a href="https://www.facebook.com/" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a>
            <a href="https://twitter.com/" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
            <a href="https://www.youtube.com/" target="_blank"><span class="fa fa-youtube" aria-hidden="true"></span></a>
            <a href="https://www.instagram.com/" target="_blank"><span class="fa fa-instagram" aria-hidden="true"></span></a>
            
          </div>
          <!-- <p class="mailing"><a href="mailto:info@atenea.com.ec">info@atenea.com.ec</a></p> -->
        </div>
      </div>
    </div>
    <p class="copyright small">© 2022 <a href="https://app.atenea.digital/">Atenea Educación</a></p>
  </footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
